
    <nav>
        <ul id="main-nav">
            <li><a href="/">The Blog Spot</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
   
