
<link rel="stylesheet" href="../public/styles/styles.css">
    <nav>
        <ul id="main-nav">
            <li>The Blog Spot</li>
            <li><a href="">Blogs</a></li>
            <li><a href="">Users</a></li>
            <li><a href="">Profile</a></li>
        </ul>
    </nav>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
