<!DOCTYPE html>
<html>
<link rel="stylesheet" href="../public/styles/styles.css">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <!-- Latest CDN production Javascript and CSS: 2.14.0 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <title>Home Page</title>
</head>

<body>
  {{>header}}
  {{{body}}}
</body>

</html>