<link rel="stylesheet" href="../public/styles/styles.css">
<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">

<div id="home">
  <div class="container">
    <div class="row">
{{!--      <div class="col">
        <h1>{{msg}}</h1>
        <h2>Log in Here!</h2>
        {{>login}}
      </div> --}}
      <div class="col">
        <h2>Create Account Here!</h2>
        {{>create}}
      </div>
    </div>
    </ul>
  </div>
</div>
</div>
</div>


