<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Profile</h5>
          <p>
            <strong>ID</strong>: {{user.id}}</p>
          <p>
            <strong>Name</strong>: {{user.username}}</p>

            <h3>Blogs:</h3>
        <ul id="blog-list" class="list-group">
          {{#each blogs}}
          <li><a href="/blogs/{{this.id}}">{{this.title}}</a></li>
          {{/each}}
        </ul>
         </div>
      </div>
    </div>
  </div>
</div>
